# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Distribution
build/
dist/
*.egg-info/

# Logs
*.log

# IDE settings
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
